@charset "utf-8";
@import url("./reset.css");
@import url("./common.css");
* {
  margin: 0px auto;
  text-decoration: none;
  list-style: none;
  color: black;
}

#certificate__wrap {
  width: 100%;
  height: 100%;
  background: #f0e2cf;
}

/* header */

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--headerZidx);
}

.header__nav {
  width: 100%;
  float: left;
  background-color: rgba(145, 68, 0, 0.6);
}

.header__nav__ul li {
  display: block;
  width: 250px;
  height: 50px;
  float: left;
  padding: 5px 0px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.header__nav__ul li a {
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s;
  color: #e5e5e5;
}

.header__nav__ul li a:hover {
  color: #404040;
}

/* section */
.section {
  width: 100%;
  height: 800px;
  position: relative;
}

.section__h2 {
  position: absolute;
  left: 580px;
  top: 140px;
  font-weight: 600;
  font-size: 80px;
  color: #e5e5e5;
  line-height: 0.7;
  letter-spacing: -1px;
  text-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.icon1 img {
  width: 180px;
  height: 170px;
  padding-top: 250px;
  padding-left: 40px;
}

.icon2 img {
  width: 180px;
  height: 170px;
  padding-top: 100px;
  padding-left: 40px;
}

/* footer */
.footer {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #404040;
  color: #e5e5e5;
}

.copyright {
  color: #e5e5e5;
  text-align: center;
  padding-top: 25px;
  padding-left: 10px;
}
