@charset "utf-8";
@import url("./reset.css");
@import url("./common.css");
* {
  margin: 0px auto;
  text-decoration: none;
  list-style: none;
  color: black;
}

#ai-portfolio__wrap {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* header */

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--headerZidx);
}

.header__nav {
  width: 100%;
  float: left;
  background-color: rgba(255, 140, 0, 0.6);
}

.first {
  background-color: rgba(255, 140, 0, 0.4);
  float: left;
  margin-left: -40px;
}

.header__nav__ul li {
  display: block;
  width: 50%;
  height: 50px;
  float: left;
  padding: 5px 0px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}

.header__nav__ul li a {
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s;
  color: #e5e5e5;
}

.header__nav__ul li a:hover {
  color: #404040;
}

/* section */
.section {
  width: 100%;
  height: 800px;
  padding-top: 90px;
  position: relative;
}

.section img {
  width: 25%;
  height: 15%;
  float: left;
  padding-left: 280px;
  padding-top: 50px;
}

/* footer */
.footer {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #404040;
  color: #e5e5e5;
}

.copyright {
  color: #e5e5e5;
  text-align: center;
  padding-top: 25px;
  padding-left: 10px;
}

/* model */
#cat {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.cat-body {
  width: 67%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.cat-body img {
  padding-top: 40px;
  height: 230px;
  float: left;
  margin: auto;
  display: block;
}

#cat button {
  position: relative;
  float: right;
}

#dolphin {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.dolphin-body {
  width: 67%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.dolphin-body img {
  padding-top: 30px;
  height: 270px;
  float: left;
  margin: auto;
  display: block;
}

#dolphin button {
  position: relative;
  float: right;
}

#travel {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.travel-body {
  width: 67%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.travel-body img {
  padding-top: 30px;
  height: 270px;
  float: left;
  margin: auto;
  display: block;
}

#travel button {
  position: relative;
  float: right;
}

#winter {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.winter-body {
  width: 67%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.winter-body img {
  padding-top: 40px;
  height: 230px;
  float: left;
  margin: auto;
  display: block;
}

#winter button {
  position: relative;
  float: right;
}
