@charset "utf-8";
@import url("./reset.css");
@import url("./common.css");
* {
  margin: 0px auto;
  text-decoration: none;
  list-style: none;
  color: black;
}

#home__wrap {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

/* header */

.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--headerZidx);
}

.header__nav {
  width: 100%;
  float: left;
  background-color: rgba(255, 140, 0, 0.6);
}

.secound {
  background-color: rgba(255, 140, 0, 0.4);
  float: left;
  margin-right: -40px;
}

.header__nav__ul li {
  display: block;
  width: 50%;
  height: 3rem;
  float: left;
  padding: 5px 0px;
  text-align: center;
  position: relative;
  padding-top: 2rem;
}

.header__nav__ul li a {
  font-size: 23px;
  font-weight: 700;
  transition: all 0.4s;
  color: #e5e5e5;
}

.header__nav__ul li a:hover {
  color: #404040;
}

/* section */
.section {
  width: 100%;
  height: 50rem;
  position: relative;
}

.section img {
  width: 18%;
  float: left;
  padding-left: 25rem;
  padding-top: 7rem;
}

/* footer */
.footer {
  width: 100%;
  height: 6.5rem;
  position: relative;
  background-color: #404040;
  color: #e5e5e5;
}

.copyright {
  color: #e5e5e5;
  text-align: center;
  padding-top: 2.5rem;
  padding-left: 1rem;
}

/* model */
#friend {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.friend-body {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.friend-body img {
  padding-top: 5rem;
  width: 450px;
  margin: auto;
  display: block;
}

#friend button {
  position: relative;
  float: right;
}

#christmas {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.christmas-body {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.christmas-body img {
  padding-top: 5rem;
  width: 450px;
  margin: auto;
  display: block;
}

#christmas button {
  position: relative;
  float: right;
}

#rabbit {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.rabbit-body {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.rabbit-body img {
  padding-top: 5rem;
  height: 310px;
  float: left;
  margin: auto;
  display: block;
}

#rabbit button {
  position: relative;
  float: right;
}

#raccoon {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.raccoon-body {
  width: 50%;
  height: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #ffffff;
}

.raccoon-body img {
  padding-top: 5rem;
  height: 235px;
  float: left;
  margin: auto;
  display: block;
}

#raccoon button {
  position: relative;
  float: right;
}
